<h2>1. Table Creation</h2>
    <table class="styled-table">
        <thead>
            <tr>
                <th>State </th>
                <th>Chief Minister </th>
                <th>Capital </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Andhra </td>
                <td>Jagan </td>
                <td>Amaravati </td>
            </tr>
            <tr>
                <td>Telangana </td>
                <td>KCR </td>
                <td>Hyderabad </td>
            </tr>
            <tr>
                <td>Karnataka </td>
                <td>Bommai </td>
                <td>Bangalore </td>
            </tr>
            <tr>
                <td>Maharastra </td>
                <td>Uddav Thakery </td>
                <td>Mumbai </td>
            </tr>
            <tr>
                <td>Kerla </td>
                <td>Pinnarai </td>
                <td>Trivandrum </td>
            </tr>
        </tbody>
    </table>

